<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Data Analytics</title>
  </head>
  <body>
  <h1 color= "#656565">State of {{data.state}}</h1>
   <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

  <script>
  var xValues = ["Red Maple", "Loblolly pine", "Maple Suger", "Flowering Dogwood"];
  var yValues = [{{data.redMaple}}, {{data.loblollyPine}}, {{data.mapleSugar}}, {{data.floweringDogwood}}];
  var barColors = ["red", "green","orange","white"];
  
  new Chart("myChart", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "Percentage of the Tree Species"
      }
    }
  });
</script>
<h4> {{data.state}} has a forest coverage of {{data.forestCoverage}} </h4>
<br></br>
    <img src="/bear.JPG" alt="bear" width="120" height="120" padding="10px" />
    <h4> The risk of bear attack is {{data.chanceOfAttack}}, since the chance of bear attack is {{data.attackRisk}}.
    </h4>
    <br></br>
    <a href="/"> Go to the Home Page</a>

  </body>
</html>
